#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.app-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #ffdee6, #eafbc8, #c8f7ef, #edacac);
  background-size: 800% 800%;
  /* Scale up for a smoother animation */
  animation: pastelGradientAnimation 10s ease infinite;
}

@keyframes pastelGradientAnimation {
  0% {
    background-position: 0% 20%;
  }

  50% {
    background-position: 100% 20%;
  }

  100% {
    background-position: 0% 20%;
  }
}