.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: flex;
    background-color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 20;
    padding-top: 10px;
}

.header-left .logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 180px;
    height: 30px;
    margin-right: 8px;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.logo-text:hover {
    color: #0073e6;
}

.header-nav {
    display: flex;
    gap: 1.5rem;
}

.header-nav a {
    color: #193a95;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: #fff;
}

/* Right Section Styles */
.header-right {
    display: flex;
    gap: 1rem;
    border-color: #fff;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    justify-content: flex-end;
}

.header-right {
    color: #fff;
}

.signup,
.signin {
    transition: color 0.9s ease;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    border: 10px solid transparent;
    text-align: center;
    padding: 10px 20px;
}

.signin:hover,
.signup:hover {
    background: linear-gradient(-70deg, #7392e5, #783be1, #783be1, #7392e5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

.signin:hover .signin_text,
.signup:hover .signup_text {
    color: #fff;
    font-size: 1.1rem;
}


.btn {
    transition: color 0.9s ease;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    border: 10px solid transparent;
}

.btn:hover {
    background: linear-gradient(-50deg, #7392e5, #783be1, #783be1, #7392e5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #fff;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.signin_text,
.signup_text {
    color: #193a95;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.signin_text:hover,
.signup_text:hover {
    color: #fff;
}