html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.sign_in {
    background: #c3d1ff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}